<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>追溯查询</title>
        <link rel="stylesheet" href="__PUBLIC__/bower_components/weui/dist/style/weui.min.css"/>
        <link rel="stylesheet" href="__PUBLIC__/css/origin.css">
    </head>
    <body>
    	<div>
    	<div>
   			 <div class="header">
				<img src="__PUBLIC__/image/1.jpg" id="headimg">
				<div class="headtext">
					<h1>猪肉</h1>
					<p>sdhkasksadjkas</p>
				</div>
 		  </div>
 		   </div>
   			  <div class="menu">
			
  			  </div>

  			  <div class="info">
  			  		<div class="title">
  			  			
  			  		</div>
  			  </div>
   		 <div>
    </body>
</html>